@import "colors";

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin box-shadow-default {
  box-shadow: 0 2px 8px $shadow-color;
}

@mixin header-box-shadow {
  box-shadow: 0 2px 4px $shadow-color;
}

@mixin responsive($device) {
  @if ($device == m) {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

